<p>pagina-principal enrique!</p>
<p>Juegos en gradilla, al pinchar en el juego va a la página
  y la página muestra los datos del juego</p>
<p>NADA DE GRADILLAS</p>
<P>primero vamos a hacer un select en una tabla normal (bonita) y luego vemos</P>
<p> ngfor de la lista de juegos, ordenado en tabla</p>
<p> y un a router link. que con un (click)="articuloElegido(item.nombre)"hecho de la lista")</p>


<select [(ngModel)]="seleccion" (change)="juegoElegido(seleccion)">
  <option *ngFor="let juego of bdJuegos" value="{{juego.nombre}}">{{juego.nombre}}</option>
</select><br>


<app-pagina-producto [articulo]="juegoSeleccionado"></app-pagina-producto>
