<p>PAGINA DE PRUEBAS DE ENRUTAMIENTO</p>

<a routerLink="/almacen">ALMACEN</a><br>
<a routerLink="/producto">PRODUCTO</a><br>
<a [routerLink]="['/usuario']">Login</a><br>
<p>BUSCA UN PRODUCTO</p>
NOMBRE <input [(ngModel)]="productoBuscar">
<br><br><button (click)="buscarProducto(productoBuscar)">BUSCAR</button>
<div *ngIf="visible">
<h1>INFORMACION DE {{resultado.nombre}}</h1>
  NOMBRE: {{resultado.nombre}}<br>
  TIPO: {{resultado.tipo}}<br>
  DIFICULTAD: {{resultado.dificultad}}<br>
  JUGADORES MINIMOS: {{resultado.jugadoresMin}}<br>
  JUGADORES MAXIMOS: {{resultado.jugadoresMax}}<br><br>
  DESCRIPCIÓN DEL JUEGO<BR>{{resultado.descripcion}}<br>

</div>

<router-outlet></router-outlet>





