  body{
    background-image: url("/AngularGames/public/fondo\ web\ 2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .container-fluid{
    background-color: rgb(243, 240, 224);
    background-image: url("/AngularGames/public/fondo\ web\ 2.jpg");

  }
