/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #005959;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

/* Título del formulario */
.form-header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffd12b;
}

/* Contenedor del contenido del formulario */
.form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* Estilos para el formulario */
.form {
  color: #007bff;
  flex: 1;
  padding: 20px;
  background-color: #008080;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para las filas del formulario */
.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos para las etiquetas */
label {
  font-weight: bold;
  margin-right: 10px;
  color: #ffd12b;
}

/* Estilos para los inputs */
.form-input {
  padding: 8px;
  border: 1px solid #0c4d37;
  border-radius: 5px;
  width: 100%;
}

/* Estilos para el área de texto */
textarea.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de guardar */
.btn-comprar {
  background-color: #005959;
  color: #ffd12b;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-comprar:hover {
  background-color: #0056b3;
}

/* Estilos para la imagen */
.form-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-image img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}