<div class="form-container">
  <h2 class="form-header">INSERTA NUEVO PRODUCTO</h2>
  <div class="form-content">
    <!-- Formulario -->
    <div class="form">
      <div class="row g-3">
        <div class="col-md-3">
          <label for="nombre">Nombre del producto</label>
        </div>
        <div class="col-md-4">
          <input id="nombre" [(ngModel)]="nombre" class="form-input">
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-3">
          <label for="tipoDeJuego">Tipo de juego</label>
        </div>
        <div class="col-md-4">
          <input id="tipoDeJuego" [(ngModel)]="tipoDeJuego" class="form-input">
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-3">
          <label for="jmin">Jugadores Mínimos</label>
        </div>
        <div class="col-md-4">
          <input id="jmin" [(ngModel)]="jmin" class="form-input">
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-3">
          <label for="jmax">Jugadores Máximos</label>
        </div>
        <div class="col-md-4">
          <input id="jmax" [(ngModel)]="jmax" class="form-input">
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-3">
          <label for="dificultad">Dificultad</label>
        </div>
        <div class="col-md-4">
          <input id="dificultad" [(ngModel)]="dificultad" class="form-input">
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-3">
          <label for="descripcion">Descripción</label>
        </div>
        <div class="col-md-4">
          <textarea class="form-control" rows="3" [(ngModel)]="descripcion" class="form-input"></textarea>
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-3">
          <label for="precio">Precio</label>
        </div>
        <div class="col-md-4">
          <input id="precio" [(ngModel)]="precio" class="form-input">
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-3">
          <label for="imagen">URL Imagen</label>
        </div>
        <div class="col-md-4">
          <input id="imagen" [(ngModel)]="imagen" class="form-input">
        </div>
      </div>
      <br>
      <button class="btn-comprar" (click)="guardarRegistro()">GUARDAR</button>
      <p>{{respuesta}}</p>
    </div>

    <!-- Imagen -->
    <div class="form-image">
      <img [src]="imagen" alt="Vista previa de la imagen">
    </div>
  </div>
</div>