      <div class="cabecera">
      <img src='https://iili.io/Fz5kd42.png'>
      </div>
<div>
  <ul class="nav">
    <li class="nav-item">
      <button><a class="nav-link" aria-current="page" href="todos">JUEGOS</a></button>
    </li>
    <li class="nav-item">
      <button><a class="nav-link" href="/busqueda">BUSCAR POR</a></button>
    </li>
    <li class="nav-item">
      <button><a class="nav-link" href="/usuarios">USUARIOS</a></button>
    </li>
    <li class="nav-item">
      <button><a class="nav-link" href="/carrito">CARRITO</a></button>
    </li>
    <li class="nav-item">
      <button><a class="nav-link" href="/almacen">ALMACEN</a></button>
    </li>

    <li class="nav-item search-container">
      <input class="barraBuscar" type="text" [(ngModel)]="juegoBuscar" placeholder="Busca un juego">
      <a href="/producto/{{juegoBuscar}}">BUSCAR</a>
    </li>

  </ul>
</div>

<br>
<router-outlet></router-outlet>