  body{
    background-image: url('/assets/fondoweb 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .container-fluid{
    background-color: rgb(243, 240, 224);

  }
