<h1>CABECERA DE ANGULAR GAMES</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="todos">JUEGOS</a>
  </li>
<li class="nav-item">
  <li><a class="nav-link" href="/busqueda">BUSCAR POR</a></li>
<li class="nav-item">
    <a class="nav-link" href="/usuarios">USUARIOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/almacen">ALMACEN</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/carrito">CARRITO</a>
  </li>


  <li class="nav">
     <input style="vertical-align: middle;" type="text" [(ngModel)]="juegoBuscar" placeholder="Busca un juego"><a style="align-self: center;" href="/producto/{{juegoBuscar}}">BUSCAR</a>
  </li>

</ul>
<br>
<router-outlet></router-outlet>
