body{
  background-color: #0c355c;}

.nav {
  display: flex;
  background-color: #005959;
  padding: 3px;

}
.nav-item{
  color: beige;
}


.nav-link{
  color: #FFD12B;
  text-decoration-color: #ebebeb;
}

a{
  color: #FFD12B;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

button {
  background-color: #005959;
  border-radius: 10px; /* Redondea los bordes */
  border: solid; /* Elimina el borde */
  text-shadow: #ebebeb;
  color: rgba(188, 192, 190, 0.127); /* Cambia el color del texto a blanco */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease-in-out; /* Agrega una transición suave */
  margin: 3px;
}

button:hover {
  background-color: #007777; /* Cambia el color al pasar el cursor */
}

.barraBuscar{
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  background-color: #007777;
  color: #FFD12B;

}

input::placeholder {
  opacity: 0.3;
  color: rgb(243, 243, 243);
}

.search-container {
  display:flexbox;
  justify-content: flex-end; /* Alinea los elementos al final */
  align-items: center;
  background-color: #005959; /* Añade un color de fondo para que se vea mejor */
  padding: 14px 16px;
}

