<h1>CABECERA DE ANGULAR GAMES</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="todos">JUEGOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="producto">Producto</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dificultad
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" [routerLink]="['filtro',1]"> Dificultad 1 </a></li>
      <li><a class="dropdown-item" [routerLink]="['filtro',2]"> Dificultad 2 </a></li>
      <li><a class="dropdown-item" [routerLink]="['filtro',3]"> Dificultad 3 </a></li>
      <li><a class="dropdown-item" [routerLink]="['filtro',4]"> Dificultad 4 </a></li>
      <li><a class="dropdown-item" [routerLink]="['filtro',5]"> Dificultad 5 </a></li>

    </ul>
</li>
<li class="nav-item">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Tipo de juego
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" [routerLink]="['filtro','estrategia']"> Estrategia </a></li>
        <li><a class="dropdown-item" [routerLink]="['filtro','abstracto']"> abstracto </a></li>
        <li><a class="dropdown-item" [routerLink]="['filtro',3]"> Dificultad 3 </a></li>
        <li><a class="dropdown-item" [routerLink]="['filtro',4]"> Dificultad 4 </a></li>
        <li><a class="dropdown-item" [routerLink]="['filtro',5]"> Dificultad 5 </a></li>
        </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="usuarios">Usuarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="almacen">ALMACEN</a>
  </li>

  <li style="align-self: flex-end;" class="nav-item">
    BUSCAR <input type="search">
  </li>

</ul>
<br>
<router-outlet></router-outlet>
