<div class="login-container">
  <h2>Iniciar Sesion</h2>

    <input type="text" name="nombreUsuario" [(ngModel)]="nombreUsuario" placeholder="Usuario" required/>
    <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required/>
     <button (click) ="validarUsuario()">Ingresar</button>
     <div *ngIf="respuestaValidacion">
      <p>Validacion correcta</p>
     </div>
</div>

    <br><br>
    <h2>Registrate</h2>

  <div>


      <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre" required/>
      <input type="text" name="apellido" [(ngModel)]="apellido" placeholder="Apellidos" required/>
      <input type="text" name="nombreUsuario" [(ngModel)]="nombreUsuario" placeholder="Usuario" required/>
      <input type="text" name="password" [(ngModel)]="password" placeholder="Contraseña" required/>
      <input type="text" name="correo" [(ngModel)]="correo" placeholder="Correo" required/>
      <input type="text" name="direccion" [(ngModel)]="direccion" placeholder="Direccion" />
      <input type="number" name="telefono" [(ngModel)]="telefono" placeholder="Telefono" />

      <button (click)="nuevoUsuario()">Registrate</button>
      <div *ngIf="respuestaRegistro">
          <p>Se a registrado</p>
      </div>



</div>
