<h1>ESTA PAGINA DEBERIA SUSTITUIR A LA DE SELECCION</h1>

NOMBRE <input [(ngModel)]="productoBuscar">
<br><br><button (click)="buscarProducto(productoBuscar)">BUSCAR</button>


<select [(ngModel)]="select" (change)="buscarProducto(select)">
  <option>Selecciona un juego</option>
  <option  *ngFor="let juego of listaCargada">{{juego}}</option>
</select>


<div *ngIf="select"  class="producto-container">
  <div class="producto-imagen">
    <img [src]="" alt="{{articulo.nombre}}" />
  </div>
  <div class="producto-detalles">
    <h1>{{articulo.nombre}}</h1>
    <h2>{{articulo.tipo}}</h2>
    <p>Jugadores Mínimos: {{articulo.jugadoresMin}}</p>
    <p>Jugadores Máximos: {{articulo.jugadoresMax}}</p>
    <p>Dificultad: {{articulo.dificultad}}</p>
    <p class="producto-descripcion">{{articulo.descripcion}}</p>
    <p class="producto-precio">Precio: {{articulo.precio | currency:'EUR'}}</p>
  </div>
</div>
<br>
<div>
    Unidades <input [(ngModel)]="unidades" type="number" style="width: fit-content;"><button class="btn-comprar" (click)="agregarAlCarrito()">AÑADIR AL CARRITO</button>
  </div>

<br>
