/* Contenedor principal */
.producto-container {
  color: #c4ad47;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  /* Eliminar o comentar el fondo y la sombra específicos */
  background-color: #005959;
  border-radius: 10px;
  box-shadow: 3px 3px 9px rgb(0, 0, 0);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

/* Imagen del producto */
.producto-imagen img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
}

/* Detalles del producto */
.producto-detalles {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #ffffff;
}

.producto-detalles h1 {
  font-size: 2rem;
  color: #FFD12B; /* Amarillo, consistente con otras páginas */
}

.producto-descripcion {
  font-size: 1rem;
  color: #dadada; /* Texto claro para contraste */
  line-height: 1.5;
}

.producto-precio {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c4ad47;
}

/* Botón de comprar */
.btn-comprar {
  background-color: #124e4eb4; /* Verde azulado, consistente con otras páginas */
  color: white;
  border: none;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-comprar:hover {
  background-color: #c4ad47;
  color: black;
}

/* Eliminar o comentar los estilos específicos de fondo */
/* .container {
  background-color: #003366;
  margin: auto
}
*/
