
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="articulo"  class="producto-container">
        <div class="producto-imagen">
          <img src="{{articulo.imagen}}" alt="{{articulo.nombre}}" />
          <br><br>
          <p class="producto-precio" style="text-align: center;"> QUEDAN <b>{{stockArticulo}}</b> UNIDADES</p>

        </div>
        <div class="producto-detalles">
          <h1>{{articulo.nombre}}</h1>
          <p><b>Tipo de Juego:</b> {{articulo.tipo}}</p>
          <p><b>Jugadores Mínimos</b>: {{articulo.jugadoresMin}}</p>
          <p><b>Jugadores Máximos:</b> {{articulo.jugadoresMax}}</p>
          <p><b>Dificultad:</b> {{articulo.dificultad}}</p>
          <p class="producto-descripcion">{{articulo.descripcion}}</p>
          <p class="producto-precio">Precio: {{articulo.precio | currency:'EUR'}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col">
         <!--
      <div *ngIf="carrito" class="row">
        <div class="producto-container">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>NUMERO PEDIDO</th>
                  <th>NOMBRE ARTICULO</th>
                  <th>CANTIDAD</th>
                  <th>PRECIO</th>
                  <th>BORRAR</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row" *ngFor="let item of listaCompra">
                  <td>{{item.numPedido}}</td>
                  <td>{{item.nombreArticulo}}</td>
                  <td>{{item.cantidad}}</td>
                  <td>{{item.precio}}</td>
                  <td><button (click)="borrarDeLista(item.nombreArticulo)"> - </button></td>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>IMPORTE TOTAL</th>
                  <th></th>

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{importeTotal}}</td>
                  <td></td>

                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
<br>
-->
      <div class="row">
        <div class="producto-container">
          Tu número de pedido es el <b>{{numpedido}}</b><br><br>
          <div>
          Unidades <input [(ngModel)]="unidades" type="number" style="width: fit-content;"><button class="btn-comprar" (click)="agregarAlCarrito()">AÑADIR AL CARRITO</button>
          <br>
          </div>
          <div *ngIf="added" class="alert alert-success" role="alert">
            Pedido añadido. Consulte su carrito
          </div>
          <div *ngIf="error" class="alert alert-danger" role="alert">
            No queda suficiente Stock
          </div>

          <a href="carrito"><button class="btn-comprar">Consultar Carrito</button></a>



          <br>
        </div>
      </div>

